body {
    margin: 0;
    padding: 0;
}

header {
    
    padding: 10px 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    max-height: 150px;
    width: 250;
}

nav ul {
    font-family: ;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 8px 16px;
}

nav ul li a:hover {
    background-color: #ddd;
    border-radius: 4px;
}
